# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
pnpm-debug.log*

# Dependency directories
node_modules/
jspm_packages/

# Build and Output directories
dist/
build/
out/
.next/
.nuxt/
.vuepress/dist

# Coverage directory used by tools like istanbul
coverage/
*.lcov
.nyc_output

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Caches
.npm
.eslintcache
.stylelintcache
.tsbuildinfo

# IDEs and Editors
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.swp
*.swo
.vim/

# OS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Optional REPL history
.node_repl_history

# Vercel / serverless deployments
.vercel/
.serverless/

# System Files
npm-debug.log
yarn-error.log
